@model int

<div class="col-lg-3 col-6">
    <div class="small-box bg-gradient-success">
        <div class="inner">
            <h3>@Model</h3>
            <p>Educations</p>
        </div>
        <div class="icon">
            <i class="fas fa-graduation-cap"></i>
        </div>
    </div>
</div>