@model int

<div class="col-lg-3 col-6">
    <div class="small-box bg-gradient-primary">
        <div class="inner">
            <h3>@Model</h3>
            <p>Messages</p>
        </div>
        <div class="icon">
            <i class="fas fa-envelope-open-text"></i>
        </div>
    </div>
</div>