@model int

<div class="col-lg-3 col-6">
    <div class="small-box bg-gradient-danger">
        <div class="inner">
            <h3>@Model</h3>
            <p>Social Media Accounts</p>
        </div>
        <div class="icon">
            <i class="fas fa-hashtag"></i>
        </div>
    </div>
</div>