<div id="fh5co-consult">
    <div class="video fh5co-video" style="background-image: url(/images/contact.png);">
        <div class="overlay"></div>
    </div>
    <div class="choose animate-box">
        <h2>Get In Touch With Me</h2>
        <form class="row" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="Your firstname">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Your lastname">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" id="Email" name="Email" class="form-control" placeholder="Your email address">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" id="Subject" name="Subject" class="form-control" placeholder="Subject of message">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <textarea id="Message" name="Message" cols="30" rows="10" class="form-control" placeholder="Write me your message"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group text-center">
                    <input type="submit" value="Send Message" class="btn btn-primary">
                </div>
            </div>

        </form>
    </div>
</div>